{
    "SIGA_AUTHURL": "SIGA_LOGIN_URL",
    "SIGA_USERURL": "SIGA_MAIN_URL",
    "dolar_url": "https://www.google.com/search?client=opera-gx&q=dolar&sourceid=opera&ie=UTF-8&oe=UTF-8",
    "LPRanking_url": "https://pypl.github.io/PYPL.html",
    "PREFIX": "PREFIX",
    
    "log_channel": "LOG_CHANNEL_ID",
    "general_channel": "GENERAL_CHANNEL_ID",
    "TESTS_CHANNEL": "TESTS_CHANNEL_ID",
    "botTestesId": "TEST_CHANNEL_ID",
    "JogoMinimalistaId": "MAIN_CHANNEL_ID",
    "SETINHAID": "ROLE_ID",
    "GASPORID": "USER_ID",
    
    "EXAMINATION_DAY": "DAY",
    "EXAMINATION_MONTH": "MONTH",
    "EXAMINATION_YEAR": "YEAR",
    "EXAMINATION_HOUR": "HOUR",

    "VACATION_DAY": "DAY",
    "VACATION_MONTH": "MONTH",

    "token": "DISCORD_TOKEN",
    "username": "SIGA_USERNAME",
    "password": "SIGA_PASSWORD",

    "db_username": "USERNAME",
    "db_password": "PASSWORD",
    "db_port": "PORT",
    "db_name": "NAME",
    "db_server": "HOST"

}